@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F8FAFC;
    color: #0F172A;
    -webkit-font-smoothing: antialiased;
  }
}

/* Força o carregamento do tema Navy se as classes do Tailwind falharem */
.bg-navy-900 { background-color: #0F172A !important; }
.text-navy-900 { color: #0F172A !important; }
.rounded-3xl { border-radius: 32px !important; }
