@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F8FAFC] text-slate-900 antialiased;
  }
}

/* Estilo do Spinner de Carregamento para evitar tela branca vazia */
.loading-screen {
  @apply h-screen w-screen flex items-center justify-center bg-[#0F172A];
}

.spinner {
  @apply w-12 h-12 border-4 border-white border-t-transparent rounded-full animate-spin;
}
